<h1>Search</h1>
<%= form_tag movies_search_path, method: :get do %>
    <%= text_field_tag 'title' %>
    <%= submit_tag 'Submit' %>
<% end %>

<h1>Movies</h1>
<table class="table table-bordered">
    <%= render partial: 'movie_item', collection: @movie_dicts %>
</table>
