<tr>
    <td class="rottentomatoes">
        <%= link_to rating.movie_title, movie_path(rating.movie.rottentomatoes_id) %>
    </td>
    <td class="rating">
        <%= rating.rating %>
    </td>
</tr>
