<tr>
    <td class="rottentomatoes">
        <%= link_to recommendation.movie_title, movie_path(recommendation.movie.rottentomatoes_id) %>
    </td>
    <td class="recommender">
        <%= link_to recommendation.recommender.email, recommendation.recommender %>
    </td>
    <td class="delete">
        <%= link_to 'Delete', recommendation, method: :delete %>
    </td>
</tr>
