<h1><%= @user.email %></h1>
<% if current_user.currently_friends_with?(@user) %>
    <%= link_to 'Unfriend', unfriend_path(@user), method: :delete %>
<% else %>
    <%= link_to 'Friend', friend_path(@user), method: :post %>
<% end %>
