<li>
    <p class="rottentomatoes">
        <%= link_to recommendation.movie_title, movie_path(recommendation.movie.rottentomatoes_id) %>
    </p>
    <p class="recommender">
        by: <%= link_to recommendation.recommender.email, recommendation.recommender %>
    </p>
    <p class="delete">
        <%= link_to 'Delete', recommendation, method: :delete %>
    </p>
</li>
