<li>
    <p class="rottentomatoes">
        <%= link_to recommended_movie.movie_title, movie_path(recommended_movie.movie.rottentomatoes_id) %>
    </p>
    <p class="recommendee">
        to: <%= link_to recommended_movie.recommendee.email, recommended_movie.recommendee %>
    </p>
    <p class="delete">
        <%= link_to 'Delete', recommended_movie, method: :delete %>
    </p>
</li>
